# milliseconds before cache folder lockfiles are considered stale
# 7 days = 604800000 ms
cache-lock-stale = 604800000
# minimum seconds to cache items before re-checking against the registry
# 24 hours = 86400 seconds
cache-min = 86400
